<!DOCTYPE html>
<html lang="cat"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/my-login.css">
</head>
<body>
    <div layout:fragment="content" class="my-login-page">

        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100 flex-c">
                    <div class="card-wrapper"style="margin-top:200px;">


                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Register</h4>
                                <form method="POST" th:action="@{/register}">

                                    <div class="form-group">
                                        <label for="email">Correo</label>

                                        <input id="email" type="email" th:field="*{user.email}" class="form-control" name="email" value="" required autofocus>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Contraseña</label>

                                        <input id="password" th:field="*{user.password}" type="password" class="form-control" name="password" required data-eye>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nombre</label>

                                        <input id="name" type="text" th:field="*{user.name}" class="form-control" name="p" required data-eye>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastname">Apellido</label>

                                        <input id="lastname" type="text" th:field="*{user.lastname}" class="form-control" name="lastname" required data-eye>
                                    </div>


                                    <div class="form-group no-margin">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Registra un nuevo usuario
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="footer">
                            <img src="img/logo-mov.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/my-login.js"></script>
        <script src="../bootstrap/js/bootstrap.js"></script>
    </div>


</body>
</html>