<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/my-login.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <section style="margin-top: 200px;">
            <h2 th:text="@{'Mostrando informacion de '} + ${user.name} + @{'&nbsp;'} + ${user.lastname}"></h2>
            <hr>
            <div class="alert alert-warning" role="alert" th:if="${shopping.isEmpty()}">
                El usuario no tiene productos
            </div>
            <table class="table" th:if="${!shopping.isEmpty()}">
                <thead class="thead-dark" style="background: #212529; color:#FFF;">
                <tr>
                    <th scope="col" class="">Nombre</th>
                    <th scope="col" class="">Precio</th>
                    <th scope="col" class="">Archivo</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${shopping}">
                    <th scope="row" th:text="${product.product.name}"></th>
                    <td th:text="${product.product.price}"></td>
                    <td><a th:href="@{'/files/' + ${product.product.file}}">&#9776;</a></td>

                </tr>

                </tbody>
            </table>
            <hr>
            <h2 th:text="@{'El total es '} + ${total}"></h2>
        </section>

    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/my-login.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
</div>

</body>
</html>